*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
.settings
.cache
.DS_Store
.project
.classpath
.scala_dependencies
.mvn/wrapper/maven-wrapper.jar
docs/api/
lib_managed/
logs/
src_managed/
target/
reports/
metastore_db/
derby.log
dependency-reduced-pom.xml
rss-*.tgz
hadoop-*.tar.gz
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor
VERSION
testbin/*
*.test
*.out
!vendor/**/zz_generated.*
*.swp
*.swo
*~
deploy/kubernetes/operator/bin
common/build/
integration-test/common/build/
storage/build/
build/
deploy/kubernetes/integration-test/e2e/rss.yaml
deploy/kubernetes/integration-test/e2e/rss-controller.yaml
deploy/kubernetes/integration-test/e2e/rss-webhook.yaml
dashboard/src/main/webapp/node_modules/
dashboard/src/main/webapp/node/
dashboard/src/main/webapp/dist/
dashboard/src/main/resources/static/
dashboard/src/main/webapp/package-lock.json
rust/experimental/server/target
rust/experimental/server/.idea
rust/experimental/server/._target
rust/experimental/server/src/proto/uniffle.rs
.flattened-pom.xml
