#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
config.stopBubbling = true
# Most of the lombok features are disabled by default as it might not be good practice to use them
# everywhere. It can be only enabled for source files under web directories, which is a good place
# to use them. Corresponding lombok features can be enabled in the lombok.config file in the web
# directories.
lombok.anyConstructor.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.noArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.builder.flagUsage = error
lombok.getter.flagUsage = error
lombok.setter.flagUsage = error
lombok.with.flagUsage = error
lombok.toString.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.log.flagUsage = error
lombok.experimental.flagUsage = error
lombok.var.flagUsage = error
lombok.val.flagUsage = error
lombok.delegate.flagUsage = error
lombok.utilityClass.flagUsage = error
