config.stopBubbling = true
# Most of the lombok features are disabled by default as it might not be good practice to use them
# everywhere. It can be only enabled for source files under web directories, which is a good place
# to use them. Corresponding lombok features can be enabled in the lombok.config file in the web
# directories.
lombok.anyConstructor.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.noArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.builder.flagUsage = error
lombok.getter.flagUsage = error
lombok.setter.flagUsage = error
lombok.with.flagUsage = error
lombok.toString.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.log.flagUsage = error
lombok.experimental.flagUsage = error
lombok.var.flagUsage = error
lombok.val.flagUsage = error
lombok.delegate.flagUsage = error
lombok.utilityClass.flagUsage = error