<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="console" target="SYSTEM_ERR">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] %c{1} - %m%n%ex"/>
    </Console>
    <RollingFile name="RollingAppender" fileName="${sys:log.path}" filePattern="${sys:log.path}.%i">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] %c{1} - %m%n%ex"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="2GB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingFile name="StorageAuditAppender" fileName="${sys:storage.audit.log.path}" filePattern="${sys:storage.audit.log.path}.%i"
                 createOnDemand="true">
      <PatternLayout pattern="%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="2GB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingFile name="RPCAuditAppender" fileName="${sys:rpc.audit.log.path}" filePattern="${sys:rpc.audit.log.path}.%i"
                 createOnDemand="true">
      <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="2GB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingAppender"/>
    </Root>
    <Logger name="io.grpc.netty.shaded.io.grpc.netty" level="info" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingAppender"/>
    </Logger>
    <Logger name="org.apache.hadoop" level="info" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingAppender"/>
    </Logger>
    <Logger name="org.eclipse.jetty" level="info" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="RollingAppender"/>
    </Logger>
    <Logger name="SHUFFLE_SERVER_STORAGE_AUDIT_LOG" level="INFO" additivity="false">
      <AppenderRef ref="StorageAuditAppender"/>
    </Logger>
    <Logger name="SHUFFLE_SERVER_RPC_AUDIT_LOG" level="INFO" additivity="false">
      <AppenderRef ref="RPCAuditAppender"/>
    </Logger>
    <Logger name="COORDINATOR_RPC_AUDIT_LOG" level="INFO" additivity="false">
      <AppenderRef ref="RPCAuditAppender"/>
    </Logger>
  </Loggers>
</Configuration>
